.datetime {
    position: relative;
}
.datetime label {
    padding: 1rem 2rem;
    font-size: 2rem;
    border: 1px solid;
    position: relative;
    background-color: #fff;
    z-index: 4;
    pointer-events: none;
}

.datetime input {
    /* visibility: hidden; */
    /* opacity: 0; */
    position: absolute;
    inset: 0;
    z-index: 0;
}
.datetime input::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: auto;
    width: auto;
    position: absolute;
    inset: 0;
}
